.after-nav {
    padding-top: 70px;
}

canvas.simulador {
    background: url("../img/fondo2.png") no-repeat scroll 50% 50% / 100% auto rgba(0, 0, 0, 0);
    width: 100%;
}

footer, .footer {
    margin-top: 20px;
    text-align: right;
    font-size: 12px;
    color: gray;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}