

.container-data {
  background-image: url("fondo2.png");
  width: 800px;
  height: 611;
  background-color: #cccccc;
  position: relative;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}
#content {
	width: 880px;
	padding: 10px;

}


.demo-container {
	box-sizing: border-box;
	width: 850px;
	height: 450px;
	padding: 20px 15px 15px 15px;
		
}

.eje_coord {
width: 560px;
height: 290px;
font-size: 14px;
line-height: 1.2em;
margin-top: 160px;
margin-left: 165px;	
}

.caudal-vertical {

  z-index: 3;

  position: absolute;
  background-color: #00BFFF;
  width: 6px;
}

.footer {
	margin-top: 20px;
	text-align: right;
	font-size: 12px;
	color: gray;
}

.forma-agua {
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-right-radius: 105px 20px;
border-bottom-left-radius: 105px 20px;

}

.water {
background-color: #00BFFF;
opacity: 0.5;
width: 140px;
position: absolute;
height: 90px;
margin-top: 100px;
z-index: 5;
margin-left: 50px;

}

.lower {
 background-color: #DADADA;

}

.tanque {
  position: absolute;
  margin-top: 60px;
  z-index:2;
}

.charco {
width: 10px;
height: 70px;
background-color: #00BFFF;
position: absolute;
transform: rotateX( 80deg );
border-radius: 100px;
}


.charco_horizontal {
  bottom: 10px;
  left: 300px;
}

.charco_vertical {
  bottom: -4px;
  left: 123px;
}




