<div class="aside" tabindex="-1" role="dialog">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="aside-title">Men&uacute;</h4>
            </div>
            <div class="aside-body" ng-include="'view/navbar/actions.html'">

            </div>
            <div class="aside-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Cerrar</button>
            </div>
        </div>
    </div>
</div>